#chat-screen {
  background-color: #bac1d1;
  height: 10000vh;
}
#chat-screen .alt-header {
  top: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: #bac1d1;
}
.main-chat {
  margin-top: 150px;
}
#chat-screen .status-bar {
  background-color: #bac1d1;
}
